#headSection{
    background-color: #CDE8E5; 
}
body{
    border: 5px solid #4D869C;
}
/* #name,#hello{
    font-family: "Playfair Display", serif;
} */
/* #job,#job1{
    font-family: "Merriweather", serif;
} */
#about{
    height: 400px;
    background-color: #EEF7FF;
}
#skills{
    background-color:#CDE8E5 ;
    padding: 60px;
}
#contact{
    background-color: #EEF7FF;
    height: 400px;
}
#foot{
    background-color: #CDE8E5;
    padding-bottom:10px;
}h1,h2{font-family: "Playfair Display", serif;}

p{
    font-family: "Merriweather", serif;
    font-size: large;
}